<div class="container w-50 mt-4 p-4 border border-2 border-dark">
  <div class="row border border-2 border-dark">
    <app-user-input (sendText)="onReceivedText($event)"></app-user-input>
  </div>
  <div class="row mt-4 gap-4">
    <div class="col border border-2 border-danger">
      <app-even-length-words [wordsList]="evenLengthWords"></app-even-length-words>
    </div>
    <div class="col border border-2 border-danger">
      <app-odd-length-words [wordsList]="oddLengthWords"></app-odd-length-words>
    </div>
  </div>
</div>